/* BASE STYLES */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1.4rem;
  color: #333;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* TYPOGRAPHY */

.heading-3 {
  text-transform: uppercase;
  color: #f1f1f1;
  margin: 10px 20px;
  text-align: center;
  font-weight: 300;
  font-size: 1.8rem;
}

/* BUTTON STYLES */

.button,
.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  border: none;
  background: #283c63;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  transition: all .3s ease;
}

.button:hover {
  background: #1F4C69;
}

/* HOMEPAGE STYLES */

.home {
  height: 100vh;
  width: 100vw;
  background-color: #ff6473;
}

.home__logo-box {
  width: 40rem;
  margin: 3rem auto;
  margin-bottom: 6rem;
}

.home__form {
  padding: 2rem 5rem;
  margin: 3rem auto;
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(40, 60, 99, 0.6);
  width: 40rem;
  background-color: #757882;
}

/* SIDEBAR STYLES */

.sidebar {
  width: 40rem;
  height: 100vh;
  background-color: #757882;
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  background-color: #ff6473;
  padding: 1.5rem 3rem;
  color: #f1f1f1;
  text-align: center;
}

.sidebar__logo-box {
  padding: 0 3rem;
}

.sidebar__logo {
  height: 7rem;
}

.sidebar__footer {
  padding: 3rem 3rem;
  color: #f3f3f3;
  background-color: #283c63;
  font-size: 1rem;
  height: 85px;
  flex-shrink: 0;
}

/* USERS STYLES */

.users {
  padding: 0 3rem;
  overflow: scroll;
  flex-grow: 1;
}

.users__list {
  list-style: none;
}

.users__list-item {
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
  color: #f1f1f1;

  display: flex;
  align-items: center;
}

.users__online {
  height: 1rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;

  display: flex;
  align-items: center;
}

.users__online-circle {
  height: 100%;
  margin-right: 1rem;
  fill: greenyellow;
}

.users__avatar {
  display: inline-block;
  margin-right: 2rem;
  height: 5rem;
}

/* ROOM TITLE STYLES */

.room {
  margin-top: 2rem;
}

.room__name {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1rem 0;
}

/* CHAT STYLES */

.chat {
  position: relative;
  display: flex;
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #ff6473;
  display: flex;
  padding: 2rem 4rem;
  /*height: 60px;*/
  flex-shrink: 0;
}

/* FORM STYLES */

.form {
  flex-grow: 1;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}

.form__field {
  margin: 20px 0;
}

.form__field > * {
  width: 100%;
}

.form__field label {
  display: block;
  margin-bottom: 7px;
  color: #f1f1f1;
}

.form__field input, .form__field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.form__input {
  position: relative;
  border: none;
  margin-right: 2rem;
  background-color: #f1f1f1;
  padding: 1rem;
  flex-grow: 1;
  font-size: inherit;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #283c63;
}

/* MESSAGES STYLES */

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message-left {
  align-items: flex-start;
}

.message-right {
  align-items: flex-end;
}

.message__title {
  display: flex;
}

.message__title-left {
  margin-left: 3rem;
}

.message__title-right {
  margin-right: 3rem;
  text-align: right;
  flex-direction: row-reverse;
}

.message__title-left h4 {
  font-weight: 600;
  margin-right: 1rem;
}

.message__title-right h4 {
  font-weight: 600;
  margin-left: 1rem;
}

.message__title span {
  color: #999;
}

.message__body {
  position: relative;
  min-width: 10rem;
  max-width: 60%;
  margin-top: 2rem;
  padding: 2rem 3rem;
  border-radius: 10px;
  color: #f1f1f1;
  overflow-wrap: break-word;
  line-height: 2rem;
}

.message__body-left {
  background-color: #ff6473;
}

.message__body-right {
  background-color: #283c63;
}

.message__body:after {
	content: '';
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}

.message__body-left:after {
  left: 5rem;
  border-bottom-color: #ff6473;
}

.message__body-right:after {
  right: 5rem;
  border-bottom-color: #283c63;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 2000;
  padding: 1.5rem;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  border-radius: 50%;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #283c63; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 3.5rem;
    height: 3px;
    background-color: #283c63;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }
    .hamburger--collapse .hamburger-inner {
      top: auto;
      bottom: 0;
      transition-duration: 0.13s;
      transition-delay: 0.13s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--collapse .hamburger-inner::after {
        top: -20px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
      .hamburger--collapse .hamburger-inner::before {
        transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    
    .hamburger--collapse.is-active .hamburger-inner {
      background-color: #fafafa;
      transform: translate3d(0, -10px, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--collapse.is-active .hamburger-inner::after {
        background-color: #fafafa;
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
      .hamburger--collapse.is-active .hamburger-inner::before {
        background-color: #fafafa;
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
    

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .home__logo-box {
    width: 30rem;
  }

  .hamburger {
    display: block;
    visibility: visible;
  }

  .button,
  .button:link,
  .button:visited {
    font-size: 1.6rem;
  }

  .sidebar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }

  .sidebar__footer {
    height: 67px;
  }

  .form {
    max-width: 100%;
  }
}

/* SHOW SIDEBAR */

.show {
  display: flex;
}